<% layout('layout.html')%>
<meta http-equiv="refresh" content="30">

<section>
    <div class="grid grid-cols-4 grid-row-2 gap-4 m-8">

        <% it.points.forEach(function(pi) { %>

        <div class="card w-96 <%= pi.color%> > shadow-xl m-4">
            <div class="card-body ">
                <h2 class="card-title">Year: <%= pi.yearName %></h2>
                <div class="stats shadow">
                    <div class="stat">
                        <div class="stat-title">Total Year Points</div>
                        <div class="stat-value"><%= pi.points %></div>
                        <div class="stat-desc">21% more than last month</div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        
    </div>
</section>

<script language="javascript">

</script>